.preventionWrapper {
    text-align: center;
}

.preventionWrapper h2 {
    margin-bottom: 15px;
    color: var(--primaryColor);
    font-size: 29px;
}

.preventionWrapper > h1 {
    margin-bottom: 31px;
    color: var(--secondaryColor);
    font-size: 50px;
}

.preventionWrapper p {
    margin-bottom: 71px;
    color: var(--paragraphColor);
    font-size: 18px;
    line-height: 38px;
}

.preventionContent {
    display: flex;
    align-items: center;
}

.preventionContainer:nth-child(odd) .preventionContent {
    display: flex;
    flex-direction: row-reverse;
    background-color: aquamarine;
}

.preventionContainer:nth-child(odd) .preventionImg {
    margin-left: -30px;
}

.preventionContainer:nth-child(odd) .preventionDesc {
    margin-left: 100px;
}

.preventionContainer:nth-child(odd) .preventionDesc p {
    padding-right: 150px;
}

.preventionContainer:nth-child(odd) .preventionNumber {
    margin-top: 10px;
    margin-right: 700px;
    position: absolute;
}

.preventionNumber > h1 {
    color: var(--primaryColor);
    margin-bottom: 290px;
    padding: 15px 15px;
    background-color: #fee6e5;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-right: 40px;
}

.preventionDesc {
    text-align: left;
}

.preventionImg {
    margin: 0 100px;
}

.preventionDesc h3{
    color: var(--secondaryColor);
    font-size: 47px;
    font-weight: 500;
    margin-bottom: 20px;
}

.preventionDesc p {
    color: var(--paragraphColor);
    font-size: 18px;
    font-weight: 400;
}

.relativeContainer {
    position: relative;
}

.relativeContainer2 {
    position: relative;
}

.icon1 {
    position: absolute;
    margin-left: -380px;
    margin-top: 290px;
}

.icon2 {
    position: absolute;
    right: 0;
    margin-right: -380px;
    margin-top: 1750px;
}