.sectionMainContainer  {
    position: relative;
    left: 0;
    right: 0;
    background: var(--heroSectionColor);
    overflow: hidden;
}

.middleContainer {
    position: relative;
    left: 0;
    right: 0;
    background: #fff;
    overflow: hidden;
}